[2018-01-03 18:36] xing-yang opened #1 "Add the CSI driver for OpenSDS"
Create this issue to add the CSI driver for OpenSDS, an open source project under Linux Foundation (https://www.opensds.io/), to the drivers table.  For more information, please visit  https://github.com/opensds/nbp/releases (beta release) and https://github.com/opensds/nbp/tree/master/csi.

[2018-01-03 18:41] lpabon commented on #1
Added to the list

[2018-01-03 18:41] #1 closed

[2018-01-04 20:25] lpabon opened #2 "mdbook test must pass"

[2018-01-09 16:38] lpabon commented on #2
This is for rust only, not necessary here.

[2018-01-09 16:38] #2 closed

[2018-01-18 19:27] lpabon opened #8 "Add a tutorial"

[2018-01-18 19:28] lpabon opened #9 "Update doc with included yaml"
Instead of redirecting the reader to a repo

[2018-03-20 17:43] musse commented on #9
I'll incorporate this into #13.

[2018-05-08 07:04] fatih opened #21 "Add csi-digitalocean to the list of drivers"
Hi,

As per the instructions written at https://kubernetes-csi.github.io/docs/Drivers.html I would like to add our CSI plugin for DigitalOcean block storage to the list of production drivers.

The driver repo is here: https://github.com/digitalocean/csi-digitalocean
Name: `DigitalOcean Block Storage`
Status: `Alpha`
Description: `A Container Storage Interface (CSI) Driver for DigitalOcean Block St

[2018-05-08 15:03] pohly opened #23 "building and testing sidecar containers"
For new developers it would be useful to document how they can build and test CSI. This could include:
- building and pushing container images for driver-registrar/hostpath (aka drivers)/external-attacher/external-provisioner
- running the kubernetes/test/e2e/storage/csi_volumes.go test for hostpath

[2018-05-08 15:12] pohly commented on #23
Right now, building container images is inconsistent. Some makefiles have a "push" target, some don't. Some build "canary" as version, others the latest stable release.

My proposal is to have the following in all four makefiles:
[code]

Then one can do:
[code]

The rationale for only supporting building/pushing of the hostpath container in drivers is that long-term that should be the only image i

[2018-05-10 13:27] pohly commented on #23
Yes. That's why I think it is okay to focus on building just the hostpath container image in the "drivers" repo, because that is going to remain.

Indeed, they do now. My revision of driver-registrar was a bit old and still had IMAGE_VERSION=v0.2.0.

Not at the same time, just the same way.

They can use a local cluster or something remote. I myself run the test with a cluster brought up with loca

[2018-05-11 17:00] pohly commented on #23
I have created four PRs, one for each of the repos, where I add the same change: enabling ``make REGISTRY_NAME=localhost:5000 push``

[2018-05-14 18:08] #21 closed

[2018-05-15 02:00] wnxn opened #24 "What is the difference between NodePublishVolume and NodeStageVolume？"
1. I would develope a CSI driver to make Kubernetes pod mount **block storage** provided by IaaS.
Will I only implement six methods, such as  CreateVolume/DeleteVolume, ControllerPublish/ControllerUnpublish and NodePublishVolume/NodeUnpublishVolume?
2. I have a question about the difference between **NodePublishVolume** and **NodeStageVolume**.

[2018-05-15 02:15] wnxn opened #25 "What is the difference between NodePublishVolume and NodeStageVolume？"
# @

-

- [ ]

[2018-05-15 02:16] #25 closed

[2018-05-24 14:47] jessfraz opened #27 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-06 15:49] pohly commented on #23
I think the best solution for this issue is to proceed with the unification of the different repos, see https://docs.google.com/document/d/1xC0Cm11WTebT9m_9yZbfzud24GJRxlp55gdR5QaMHmM/edit

[2018-06-22 13:28] lpabon commented on #23
Right now this process is on hold until K8S 1.11 is released.

[2018-07-25 15:14] venkatsc commented on #24
Hey
I also had same doubt. After looking around for a while at the [csi internal plugin](https://github.com/kubernetes/kubernetes/blob/8b4cdd0f8593810c03693d0892ae922c9bea858b/pkg/volume/csi/csi_plugin.go) that is responsible for the above calls, it seems NodeStageVolume is an additional step for the block devices (see csi_block.go).

[2018-07-27 07:54] wnxn commented on #24
Hi, after developing the [Qingcloud CSI plugin](https://github.com/yunify/qingcloud-csi) which passed the [CSI sanity test](https://github.com/kubernetes-csi/csi-test), I realize the meaning of those methods.
ControllerPublishVolume is used to attach disk to a node. NodeStageVolume is used to partition and format the disk and mount the disk on a node global directory. NodePublishVolume is used to

[2018-07-27 07:55] #24 closed

[2018-08-03 18:21] sean-dooher opened #37 "Cannot run hostpath integration example"
Link to page: https://kubernetes-csi.github.io/docs/Example.html

I've been trying to develop my own CSI driver, but unfortunately I can't even seem to get the example in the docs running with minikube. I have tried it on both a macOS and linux host with the kubeadm bootstraps and the kvm2, virtualbox, and hyperkit drivers for minikube.

I am consistently getting the following error:
[code]
I have

[2018-08-03 21:40] sean-dooher commented on #37
Upon further inspection it seems that once the host-path driver container starts, the docker daemon cleans up the /var/run directory. ```/var/run/docker.sock``` disappears alongside a variety of other files in /var/run/docker, although systemctl still shows the daemon as active and running. The log file for the hostpath-driver container is empty as well. I have tried this with a few other csi-driv

[2018-08-03 22:12] sean-dooher commented on #37
Further information: this seems to only happen when I run it using minikube. I ran it on normal cluster and it seems to be working fine. So there must be some issue with how I am setting up my minikube cluster

[2018-08-06 18:20] sean-dooher commented on #37
I ended up fixing the problem with the following script:

[code]

The syslinks from /run to /var/run where misbehaving when launching pods with bind mounts due to them being relative syslinks. Changing them to absolute syslinks using the last two commands fixed that. Kubeadm gave me a 80-20 split of not working/working so I switched to localkube and everything seems to be working now!

Hope this h

[2018-08-08 02:38] wnxn opened #40 "Add QingCloud CSI plugin to the list of drivers"
Hi,

As the instructions written at https://kubernetes-csi.github.io/docs/Drivers.html I would like to add our CSI plugin for [QingCloud](https://www.qingcloud.com/) block storage to the list of production drivers.

The driver repo is here: https://github.com/yunify/qingcloud-csi
Name: QingCloud
Status: v0.2.0
Description: A Container Storage Interface (CSI) Plugin for QingCloud Block Storage

Ple

[2018-08-08 21:00] #27 closed

[2018-08-22 06:54] wnxn commented on #40
/assign @lpabon

[2018-09-18 07:34] pohly opened #56 "use StatefulSet and DaemonSet in example"
The recommended approach is to deploy the controller in a StatefulSet and the node plugin in a DaemonSet. The example should follow that recommendation, even though it is not strictly needed for a driver that only works in a single node.

It does fix one specific issue: directly creating a pod as in the current example can fail due to a race condition (https://github.com/kubernetes/kubernetes/issu

[2018-09-24 17:27] saad-ali commented on #56
/assign @xing-yang

[2018-09-26 19:15] sabbot opened #59 "Add NexentaEdge NFS plugin to the list of production drivers."
Greetings,

We would like to add our CSI plugin for NexentaEdge File,Block and Object storage to the list of production drivers.

The driver repo is here: https://github.com/Nexenta/nexentaedge-csi-driver
Name: NexentaEdge https://nexentaedge.io/docs/kubernetes-csi.html
Status: v0.2.0
Description: A Container Storage Interface (CSI) Plugin for NexentaEdge Scale-Out, Multi-Cloud S3/NFS storage serv

[2018-10-08 13:05] pohly opened #62 "RBAC definitions"
Depending on how the sidecar containers are deployed (for example, with or without leadership election), different RBAC definitions are needed. The example in this repo contain definitions that work for this particular example, but more documentation is needed.

The example also could be improved:
- granting permissions for endpoints in the `ClusterRole` is too broad, it should be limited to just

[2018-10-27 15:59] pohly opened #68 "simplify deployments: avoid unnecessary env vars"
Setting `--csi-address=$(CSI_ADDRESS)` is unnecessarily complex. The extra env variable isn't needed.

[2018-10-27 15:59] pohly commented on #68
/assign

[2018-11-12 03:42] wnxn opened #77 "Add troubleshooting: deploy CSI plugin based on CSI spec v0.2.0 in Kubernetes v1.12"
1. Add troubleshooting: deploy CSI plugin based on CSI spec v0.2.0 in Kubernetes v1.12

  - Reason: Because `KubeletPluginsWatcher` is enabled by default in Kubernetes v1.12, the CSI plugin registration mechanism has been changed and Kubelet registers CSI plugins through `kubelet-registration-path`.
  - Problem: Users cannot deploy their CSI plugins based on CSI spec v0.2.0 in Kubernetes v1.12 jus

[2018-11-12 03:45] wnxn commented on #77
/assign @saad-ali
/assign @pohly

[2018-11-13 18:20] saad-ali opened #78 "Add Makefile for docs"
Updating docs is a two step process:

1. Update file in `book/*`
2. Run generation command to generate files in `docs/*`

We should add a Makefile at the root that makes it dead simple to run the command:

[code]

[2018-11-13 18:24] saad-ali opened #79 "Add PR check (travis?) to verify generated files"
Updating docs is a two step process:

1. Update file in `book/*`
2. Run generation command to generate files in `docs/*`

To ensure that some one doesn't accidentally only update `book/*` or only modifies the generated files, we should add a new PR check (via travis maybe?) to verify that generated files do not differ from the generated files in the PR.

[2018-11-13 18:47] pohly commented on #79
IMHO having the generated docs in the repo doesn't scale. Just look at the number of times that some submitters had to rebase their PR because of merge conflicts in the generated HTML. Each time we merge one PR, we have to wait for rebasing.

I think it would be better to aim for something like this:
- remove generated docs from repo
- create docs in PR Travis jobs, publish result for review someh

[2018-11-14 16:05] pohly commented on #79
https://gist.github.com/domenic/ec8b0fc8ab45f39403dd explains how we can push generated docs into the repo's `gh_pages` branch from Travis for the master branch.

Publishing generated docs for PRs is harder, as we need a per-PR web server and establish some kind of garbage collection scheme. I personally have experience with pushing to AWS from Travis, so we could use https://docs.aws.amazon.com/A

[2018-11-15 18:42] leakingtapan commented on #78
I was originally proposing adding makefile for my `docker run --rm -v $(pwd):/data -u $(id -u):$(id -g) -it chengpan/mdbook:0.2.1 mdbook build ./book
` command to generate the book. Seems @lpabon had some concerns on owning the makefile. So this did happen. Not sure if he changed his opinion?

[2018-11-15 18:45] leakingtapan opened #80 "Outdated CSINodeInfo CRD URL"
The URL for CSINodeInfo is outdated here:
https://kubernetes-csi.github.io/docs/Setup.html#enabling-csinodeinfo

It was:
[code]

Not it becomes:
[code]

Also, the same issue for CSIDriver CRD

[2018-11-15 18:47] leakingtapan commented on #80
/cc @davidz627 @saad-ali

[2018-11-15 19:54] pohly commented on #80
Should we limit the use of  URLs to the Example.md and just refer to it
under Setup.md?

If yes, then we only need to update URLs in one place.
If no, then Setup.md should also start using URLs with a revision
number.

[2018-11-15 20:00] pohly commented on #79
On Slack @lpabon said that he would like to have the docs generated by Travis.

Let me see whether I can prototype something.

/assign

[2018-11-16 04:39] leakingtapan commented on #80
Or we can keep the URLs centralized in Setup.md and refer to it from Example.md. It makes more sense to me to put it under setup, since this is more driver setup related. But I don't have strong opinion on this.

[2018-11-16 11:42] pohly commented on #79
I have a solution in https://github.com/pohly/kubernetes-csi-docs/tree/travis-docs.

However, before that  can be merged someone with the necessary permissions must set up Travis CI for the kubernetes-csi/docs repo (I can't do that, Travis CI doesn't find it when I search for it), create, add and encrypt a custom SSH key. I can walk whoever has the necessary repo permissions through this, but http

[2018-11-16 18:07] saad-ali commented on #79
I like the idea of getting rid of requirement for devs to generate docs and instead have it automatically done as part of merge. @lpabon should be able to help with the travis permissions/setup.

[2018-11-16 18:22] #78 closed

[2018-11-19 18:23] #79 closed

[2018-11-26 08:42] #80 closed

[2018-11-30 08:09] pohly commented on #37
@oleksiys @sean-dooher: thanks for your analysis on this one. Do you agree that we can close this issue now, as it seems to be caused by minikube?

We could of course document the issue, but I don't think we should - that would become unmanageable quickly.

[2018-11-30 17:43] oleksiys commented on #37
I agree, I think we can close this issue and add a reference to the minikube issue from the "Known issues" section.

[2018-12-05 23:27] davidz627 opened #91 "Update CSI Provisioner Parameters"
CSI Provisioner Parameters were deprecated and replaced in v1.0.0: https://github.com/kubernetes-csi/external-provisioner/pull/178

The documentation should reflect the new way of doing things. Being very careful to make sure that its clear that the name spaced parameters will NOT be passed through to `CreateVolume`.

/assign
/cc @msau42

[2018-12-18 13:27] jparklab opened #95 "Add synology-csi to sample driver list"
I wrote a csi driver for synology NAS(https://github.com/jparklab/synology-csi), and would like to share it with others.
Can you please add it to the sample driver list?

| Name | Status | More Information |
|--------|--------|--------|
| Synology NAS | v1.0.0 | A CSI Plugin for synology NAS(https://www.synology.com/en-us) |

[2018-12-19 01:23] #37 closed

[2018-12-19 03:43] warmchang opened #96 "Should update the Project & Sidecar container status"
With the CSI function GA, it is necessary to update the project & sidecar container status description.

https://github.com/kubernetes-csi/docs/blob/master/book/src/Home.md

[2018-12-19 03:45] warmchang commented on #96
I'll fix it.

/assign

[2018-12-20 22:38] #96 closed

[2018-12-27 14:30] chandresh-pancholi commented on #37
Above command doesn't work with Kubernetes version 1.12.4.

This PR shows localkube removed from latest minikube.
https://github.com/kubernetes/minikube/pull/2911

As per csi documentation, steps are written for Kubernetes 1.12 version.

[2019-01-28 06:46] hoyho opened #104 "Add CSI driver for XSKY"
Hi there, we have finished our CSI driver now .
vendor: XSKY
description: A Container Storage Interface (CSI) Driver for XSKY distributed block storage (X-EBS)
version: Beta
homepage: [https://www.xsky.com/en/](https://www.xsky.com/en/)
please help adding to table [Production Drivers](https://kubernetes-csi.github.io/docs/Drivers.html)
thanks

[2019-01-28 12:44] eyalglobal opened #105 "Update Drivers page"
Please update in the CSI Drivers page (https://kubernetes-csi.github.io/docs/Drivers.html)

ScaleIO | v0.1.0 | A Container Storage Interface (CSI) Storage Plugin for DellEMC ScaleIO

to

ScaleIO | v0.1.0 (Tech Preview)| A Container Storage Interface (CSI) Storage Plugin for DellEMC ScaleIO

This is temporary, until we make the new VxFlex OS CSI driver available.

Regards,

Eyal S.
VxFlex OS Dell E

[2019-01-28 12:47] Madhu-1 commented on #105
@eyalglobal you need to make a PR  to add new drivers ex:- https://github.com/kubernetes-csi/docs/pull/63

[2019-01-28 12:58] eyalglobal commented on #105
No new drivers yet, I just want to update the description.

[2019-01-28 13:00] Madhu-1 commented on #105
you need to send a PR to update current driver information aswell.

[2019-01-29 02:06] msau42 commented on #104
please send a pr

[2019-01-30 05:37] #104 closed

[2019-02-26 22:10] saad-ali commented on #105
Once the drivers are ready, please open a PR against this repo to update this list. Example PR: https://github.com/kubernetes-csi/docs/pull/119

[2019-02-26 22:10] #105 closed

[2019-02-26 22:12] saad-ali commented on #95
You can go ahead and open a PR against this repo yourself. Example PR: #119

[2019-02-26 22:12] #95 closed

[2019-02-26 22:15] saad-ali commented on #91
Done in https://github.com/kubernetes-csi/docs/pull/98

Available here: https://kubernetes-csi.github.io/docs/external-provisioner.html#storageclass-parameters

[2019-02-26 22:15] #91 closed

[2019-02-26 22:17] saad-ali commented on #59
Please go ahead and create a pull request in this repo to add the driver yourself. Example: https://github.com/kubernetes-csi/docs/pull/90

[2019-02-26 22:17] #59 closed

[2019-02-26 22:18] saad-ali commented on #40
Please go ahead and create a pull request in this repo to add the driver yourself. Example: #90

[2019-02-26 22:18] #40 closed

[2019-02-26 22:19] saad-ali commented on #8
Closing stale issue.

[2019-02-26 22:19] #8 closed

[2019-02-26 22:19] saad-ali commented on #9
Closing stale issue.

[2019-02-26 22:19] #9 closed

[2019-03-02 01:55] jparklab commented on #95
@saad-ali Thanks. I'll open a PR

[2019-03-04 22:33] msau42 opened #123 "Define a deprecation policy for csi sidecars"
It can mirror the Kubernetes policy.

Define policy on:
* sidecar CLI arguments
* sidecar behavior
* compatibility with K8s
* compatibility with CSI spec

This may also tie into defining our sidecar versioning scheme and what warrants a major, minor and patch version bump.

/assign
cc @jsafrane @pohly @saad-ali

[2019-03-05 09:07] jsafrane commented on #123
+ RBAC policy changes (e.g. new leader election).

[2019-03-06 10:10] pohly commented on #123
"CLI arguments", "RBAC policy" and "CSI spec" can all be considered as "compatibility with existing deployments": if a deployment swaps out the current version of a sidecar with a newer one, will the deployment still work?

"compatibility with K8S" is an extended version of that question: will the deployment still work *on the same clusters* as before?

[2019-03-06 17:09] vladimirvivien opened #124 "Outdated and bad links for examples"
* [The example page](https://kubernetes-csi.github.io/docs/example.html) should be redone to point to new location of hostpath and hostpath doc https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/README.md.

* The link to Hostpath driver here is not working https://kubernetes-csi.github.io/docs/deploying.html

[2019-03-07 10:29] pohly commented on #124
@okartau intents to work on that.

[2019-03-07 10:31] pohly commented on #124
My suggestion is that most of the text in the example page gets replaced with a short description that kubernetes-csi uses the hostpath driver as example, then link to the csi-driver-host-path README.md for details.

That README.md then has to cover deploying the driver with the deploy script and then can copy most of the usage examples from the current example page.

[2019-03-07 15:39] okartau commented on #124
liveness-probe is not covered by hostpath deployment, so this part remains documented here?

[2019-03-07 15:47] okartau commented on #124
with "and then can copy" part you mean that we repeat examples from this page in hostpath, or we move them, or we link to them?

[2019-03-07 16:10] msau42 commented on #124
We should add liveness probe to hostpath so we can get e2e test coverage

[2019-03-07 20:13] okartau commented on #124
I created a 1st draft PR, simply deleted duplicate part.
Here is some snapshotter material which is not on hostpath, to be migrated there?
Also, liveness-probe to be added (and doc migrated) on hostpath side, as was already mentioned here.

[2019-03-08 09:59] pohly commented on #124
I meant "move". There's no point in having duplicated content.

[2019-03-21 07:39] pohly opened #130 "staging directory must be a pod volumeMount"
If a CSI driver implements `NodeStageVolume`, then it must have a `volumeMount` entry which ensures that `/var/lib/kubelet/plugins/kubernetes.io/csi` (or is it `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/`?) is shared with the host.

Otherwise the driver is not going to see the staging directory that kubelet creates for it, like `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-4863bcae-4b2f-1

[2019-03-22 01:45] msau42 commented on #130
I wish it could have been a csi driver-specific directory instead of a generic csi directory (and drivers already have to import the driver-specific directory for the socket).  It makes it difficult to sort out which pv is from which csi driver.

But I think it needs to be a "csi" directory in order to support reconstruction, where we need a well known place to find the metadata file to figure out

[2019-03-22 08:35] pohly commented on #130
Should the driver see the entire "csi" directory or is "csi/pv" enough? The less we expose the better, IMHO.

[2019-03-22 08:41] jsafrane commented on #130
The staging directory probably can be csi-driver specific, however, it could be a breaking change between various kubelet versions - new kubelet should be able to unstage volumes staged by the old one + the same for downgrades.

IMO, reconstruction is not impacted, as it uses only `/var/lib/kubelet/pods/<uid>/*` and not staging directory.

I am not sure I understand. The driver still needs to have

[2019-03-22 12:27] pohly commented on #130
Jan Šafránek <notifications@github.com> writes:

Let me replace "solved" with "worked around" (unintentionally?).

It seems that it does not really need the hosts directly. In practice,
creating that directory locally inside the pod has worked fine.

That's not necessary. kubelet on the host must be completely oblivious
to what the CSI driver does with the staging directory. A driver can
mount on

[2019-03-22 12:40] jsafrane commented on #130
with `/var/lib/kubelet/plugins/kubernetes.io/csi` from the host

creating that directory locally inside the pod has worked fine.

Interesting, I checked the code and indeed, `pv/` directory does not need to exist on the host at all, Kubernetes does not care.

Ack, if we document it very carefuly. `pv/` now becomes part of our "API" and we can't change it.

[2019-03-22 15:09] msau42 commented on #130
We store the volume metadata file in the staging directory.  So reconstruction needs to know how to get from the pod directory to the staging directory.

If the driver restarts, then will those staging changes be lost?

[2019-03-22 15:10] msau42 commented on #130
We don't officially support node upgrade/downgrade without drain

[2019-03-22 15:35] pohly commented on #130
Do you store it in `csi` or `csi/pv`? My understanding is that the CSI driver owns what's given to it entirely, i.e. it can do whatever it wants with `csi/pv`, like mounting something on top of it.

I've not tried that.

[2019-03-22 15:49] msau42 commented on #130
Ok I was wrong about how reconstruction works.  There's save/load metadata file for mount device/unmountDevice.  And there's also save/load metadata during NewMounter/NewUnmounter.  And it's the file that's created by NewMounter that's used for reconstruction.

So I think it should be feasible to change the staging directory from the general CSI one to a driver-specific one

[2019-04-03 18:56] #124 closed

[2019-04-04 08:21] pohly commented on #130
But that is an API break, right? Kubernetes 1.13 and 1.14 already use `/var/lib/kubelet/plugins/kubernetes.io/csi`.

[2019-04-08 10:00] pohly opened #138 "document StatefulSet vs Deployment, leadership election"
We probably don't have good documentation about when to use StatefulSet and when to use Deployment for the controller. See https://github.com/container-storage-interface/spec/issues/364

Leadership election needs to be covered, too.

[2019-04-09 00:22] saad-ali commented on #138
+1 on documentation for how to run controller components HA (i.e. how to enable leader election for our controller sidecars).

[2019-04-09 00:30] msau42 commented on #138
The design doc was recently updated with some information: https://github.com/kubernetes/community/commit/52469a11e134ba732efce96c341c865921d369b5

[2019-04-09 03:20] illusion202 opened #140 "How to use CSI ListVolumes RPC ?"
Can it be invoked through kube-apiserver ? If so, how to invoke ? Or any other ways to get Volume List information ?

[2019-04-09 11:03] illusion202 commented on #140
@saad-ali pls.

[2019-04-10 08:32] jsafrane opened #142 "Enable release notes automation"
It's hard to keep track of changes between releases and compose correct CHANGELOG.

Proposal:
* Add PR template to all kubernetes-csi repos. Template of the template: https://github.com/kubernetes-csi/external-attacher/pull/139. It's slightly trimmed version of kubernetes/kubernetes template with removed links to Kubernetes specific docs.

* Enable release-notes bot in prow that will nag people to

[2019-04-17 14:34] childsb commented on #142
/approve
/lgtm

[2019-04-18 23:54] saad-ali commented on #142
Seems like a great idea

[2019-04-26 01:32] msau42 commented on #62
This should be addressed in each sidecar by now
/close

[2019-04-26 01:32] #62 closed

[2019-04-27 01:21] msau42 commented on #68
/remove-lifecycle stale

I think hostpath deployment still needs some cleanup

[2019-04-28 02:18] #77 closed

[2019-04-29 10:38] pohly commented on #68
Another enhancement idea: remove stale sockets in a pre-stop lifecycle hook, similar to https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/7295d5ee2dae0c48b7c23f476e5b224700ea1187/deploy/kubernetes/base/node.yaml#L23-L26

I think that can be done in the same PR, therefore I am mentioning it here. We might want to rename this issue to "enhance example deployment" then.

[2019-04-29 15:56] msau42 opened #150 "Add more examples for secret templating"
The docs currently have example StorageClasses for using only fixed secret references, or only templated secret references.

It might be useful to also add an example StorageClass that combines both fixed and templated references.

And also describe some more sample user stories that this can support.

/help

[2019-05-31 23:13] ggriffiths commented on #150
It also seems that the docs are using the deprecated parameter keys:

[code]

I'll submit a PR updating these.

[2019-06-04 01:19] #150 closed

[2019-06-04 13:42] msau42 commented on #123
/lifecycle frozen

[2019-06-07 16:32] msau42 commented on #23
are there more things to do for this?

[2019-06-07 16:33] msau42 commented on #68
/help
/lifecycle frozen

[2019-06-07 16:34] msau42 commented on #138
/help

[2019-06-07 16:38] msau42 commented on #142
Here's one sample invocation:
[code]

Would be nice to potentially add something like this into our release tools repo and have it pick up from a particular tag.

[2019-06-07 16:38] msau42 commented on #142
/help

[2019-06-12 12:37] shay-berman opened #172 "Broken link in section "enabling csidriver on kubernetes"
Broken link in the documentation about "enabling csidriver on kubernetes" section in k8s csi documentation -> https://kubernetes-csi.github.io/docs/csi-driver-object.html#enabling-csidriver-on-kubernetes

The current link point to https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/storage-crds while on the master there is no storage-crds.

[2019-06-18 00:49] xing-yang opened #175 "Add documentation on creating snapshot with static binding"
We should add documentation on how to create a volume snapshot with static binding.

[2019-06-18 00:49] xing-yang commented on #175
/assign xing-yang

[2019-06-18 08:01] zhangxiaoyu-zidif commented on #37
minikube 1.1.1 & Kubernetes v1.14.3 have same issue》

[2019-07-07 16:45] #23 closed

[2019-07-18 10:40] Madhu-1 opened #185 "XSKY-EBS shows invalid CSI compatibility version"
[code]

do we have `v2.0` CSI version?

@msau42 @saad-ali

[2019-07-18 10:44] Madhu-1 commented on #185
cc @hoyho

[2019-07-18 10:56] hoyho commented on #185
That's embarrassing 😅
I add our internal version to this column rather than `Compatible with CSI Version`
@Madhu-1

[2019-07-27 00:57] #185 closed

[2019-08-02 21:44] saad-ali opened #189 "Add documentation on Snapshot secret support"
The external-provisioner currently supports special key for specifying secret during volume provisioning. However, the https://kubernetes-csi.github.io/docs/secrets-and-credentials.html page does not document that.

So we should:

1. Add two sub pages to the "Secrets & Credentials" page, one for `external-provisioner` and one for `external-snapshotter` to document the "special keys" supported by b

[2019-08-02 21:45] saad-ali commented on #189
CC @xing-yang @msau42

[2019-08-09 02:20] msau42 opened #191 "Make sidecar and Kubernetes compatibility table definition more obvious"
Move it out to a top level page: https://kubernetes-csi.github.io/docs/sidecar-containers.html

[2019-08-09 02:20] msau42 commented on #191
/assign

[2019-08-12 22:40] saad-ali commented on #189
PR #190 addressed 1, but did not address 2 (documenting common use cases). Will leave this bug open to track that.

[2019-08-14 21:03] saad-ali commented on #189
One more item: we should better document why SP should avoid deletion secrets (user could wipe out that secret), and suggest alternatives (for backend credentials, inject directly in to CSI driver; for storage pools, also inject directly in to CSI driver and select at runtime; etc.).

[2019-08-16 03:58] msau42 commented on #191
Fixed via https://github.com/kubernetes-csi/docs/pull/192

[2019-08-16 03:59] msau42 commented on #191
/close

[2019-08-16 03:59] #191 closed

[2019-09-01 10:47] #130 closed

[2019-09-05 17:59] msau42 commented on #138
/lifecycle frozen

[2019-09-05 23:22] msau42 commented on #142
/remove-lifecycle stale

[2019-09-06 13:46] #140 closed

[2019-09-10 13:49] jsafrane commented on #142
What's remaining to be done? cluster-driver-registrar is deprecated and the other repos have a PR template.

[2019-09-10 14:04] msau42 commented on #142
I think having a script in csi-release-tools to generate the params to the tool would be nice

[2019-09-16 01:30] xing-yang commented on #175
/remove-lifecycle stale

[2019-09-20 01:28] msau42 commented on #142
Something doesn't seem right right the release tool generator. When I ran:
[code]

it picked up a bunch of release notes from commits that we already released in 1.3.0

[2019-09-25 23:52] wnxn opened #214 "Add topology and getting volume stats to the drivers feature table"
Kubernetes CSI supports topology and getting volume stats.
We can add topology awareness and getting volume stats to the drivers feature table.

[2019-09-25 23:53] wnxn commented on #214
/assign @j-griffith
/assign @saad-ali

[2019-10-04 00:48] msau42 commented on #214
I think the drivers table is starting to get unwieldy with so many columns.  I am open to any suggestions on how to restructure the table to make it more condensed.  In the meantime though, I think topology and volume stats are not really optional features that users will be looking for when picking a CSI driver, so not worth explicitly documenting here.  Those two features I kind of consider as m

[2019-10-04 19:02] j-griffith opened #216 "Driver Feature table is a bit out of control"
Keeping a table of [production plugins and the features they implement](https://github.com/kubernetes-csi/docs/blob/master/book/src/drivers.md#production-drivers) is handy, but as the project has grown, along with the number of plugins and features;  this simple table has become a bit difficult to view and even more difficult to update and keep accurate.

I don't have a solution to reformat what's

[2019-10-04 19:03] j-griffith commented on #214
FYI I've opened https://github.com/kubernetes-csi/docs/issues/216 relating to this topic

[2019-10-04 19:33] msau42 commented on #216
Removing the feature columns sound reasonable to me and leaving only the most important pieces.

What do you think of keeping persistence and access mode columns and removing all the other subfeatures after?

[2019-10-04 23:19] wnxn commented on #214
Thanks for @msau42 and @ggriffiths's consideration. I will keep track of #216 and close this issue.

[2019-10-04 23:19] #214 closed

[2019-10-05 01:23] wnxn commented on #216
In my opinion, CSI driver features could split into two kinds, basic features and advanced features.
Basic features include creating/deleting volumes and mounting/unmounting volume on Pods.
Advanced features include expanding volume, snapshot management and other new features.

I think writing down features in one drivers table is very handy and intuitive. What do you think of integrating separate

[2019-10-05 01:32] msau42 commented on #216
Do you mean something like this?

| Driver | Description | CSI Spec | Persistence | Access Mode | Provisioning | Other Features |
|-|-|-|-|-|-|-|
| foo | awesome driver | v1.0 | Persistent | RWO | Yes | Snapshots, Resizing, Cloning |
| bar | cool driver | v1.0 | Persistent | RWX | Yes | Resizing |

[2019-10-05 01:59] wnxn commented on #216
Yes.

[2019-10-05 03:54] j-griffith commented on #216
@wnxn @msau42 I like that idea, md tables are still somewhat painful but the consolidation of columns makes it MUCH better IMO.  It also solves the annoying problem of adding a `?` mark to fill the space for unknowns.

[2019-10-06 23:04] wnxn commented on #216
Hi, @j-griffith @msau42
Can we name the column's head as `Other Features`?
What do you think of the options allowed to be filled are `Raw Block`, `Snapshot`, `Volume Expansion`, `Volume Cloning`, `Topology`, `Volume Stats` in `Other Features` ?
I would like to submit a PR for this issue.

[2019-10-07 14:48] msau42 commented on #216
That sounds good to me. I'm still unsure about topology and volume stats because I feel like those are not quite optional features that a user would make a comparison on.

[2019-10-15 02:25] #216 closed

[2019-10-17 02:24] msau42 opened #220 "update docs for resizing beta"
/assign @gnufied

[2019-11-09 14:46] #172 closed

[2019-11-12 22:35] xing-yang commented on #189
/remove-lifecycle stale

[2019-12-03 02:25] cblecker opened #236 "Test issue"
/meow

[2019-12-03 02:25] #236 closed

[2019-12-03 06:31] chengyu-l opened #237 "Add CSI driver for ChubaoFS"
Add CSI driver for ChubaoFS. ChubaoFS is a distributed file system for cloud native applications. https://www.chubao.io/

[2019-12-03 06:44] #237 closed

[2019-12-05 07:39] zhucan opened #242 "Is this necessary to tell the user where to add the features?"
![image](https://user-images.githubusercontent.com/13997135/70213752-1a6a2d80-1775-11ea-8ea8-6d352f7fe798.png)

For example: Only modify kube-apiserver, kube-controller or kubelet, or include all of them.

[2019-12-05 07:41] zhucan commented on #242
/assign @lpabon

[2019-12-05 16:12] msau42 commented on #242
I would say we should keep things simple and expect that the feature gate needs to be set on all components

[2019-12-06 01:50] zhucan commented on #242
@msau42 +1

[2019-12-17 08:56] hoyho opened #246 "Ambiguous terminology `Access Modes (RWO,ROX,RWX)`"
The table from
https://github.com/kubernetes-csi/docs/blob/master/book/src/drivers.md#production-drivers
has column `Supported Access Modes` which has value like `Read/Write Single Pod` or  `Read/Write Multiple Pods`

According to Kubernetes document https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

My point is that Read/Write Multiple Pods is not equal to read-write by

[2019-12-18 17:37] hoyho commented on #246
/assign @saad-ali

[2019-12-20 23:54] davidz627 commented on #142
This seems mostly resolved. I believe the remaining work is to make this more automated with a script.

[2019-12-26 19:21] saad-ali commented on #246
There is a long discussion about this issue here: https://groups.google.com/d/msg/container-storage-interface-community/-g_wma86P60/DlVw5_GIBQAJ

We should document the current mapping, in addition to figuring out how to make it better (in a backwards compatible way).

CC @bswartz

[2019-12-30 03:58] bswartz commented on #246
I'm fairly confident there is no backwards compatible way to fix this. The least disruptive approach is to relax the CSI spec until it allows what Kubernetes already does, then to add new modes for users that really want the more restrictive behavior.

[2020-01-13 17:55] #142 closed

[2020-01-14 02:29] xing-yang commented on #175
/remove-lifecycle stale

[2020-01-25 02:40] msau42 opened #269 "Best practices page"
We should have a best practices page outlining suggestions for deploying CSI drivers that document things like:
* Tolerations on the DaemonSet
* Leader election
* Restricted RBACs

We can also extend that by providing a linter that vendors can use on their deployment specs. The linter could also detect things like:
* Outdated RBACs
* Deprecated options

@kubernetes-csi/csi-misc

[2020-02-13 03:04] #175 closed

[2020-03-11 23:59] msau42 commented on #189
/lifecycle frozen

[2020-03-15 04:12] #220 closed

[2020-03-29 12:57] xing-yang commented on #246
/remove-lifecycle stale

[2020-04-17 07:25] qaisarhayat12 commented on #269
https://htwpk.blogspot.com/2020/04/dirilish-ertughral.html?m=1

[2020-04-28 17:35] saad-ali opened #305 "Cloning Docs Need to be updated"
https://kubernetes-csi.github.io/docs/volume-cloning.html

Volume Cloning for Kubernetes went GA in Kubernetes 1.18. The docs need to be updated to reflect that.

[2020-04-28 18:32] msau42 commented on #305
/assign @jsafrane @j-griffith

[2020-04-28 19:20] j-griffith commented on #305
I'll get this submitted ASAP

[2020-04-30 18:14] saad-ali opened #310 "GCE PD Supports Volume Expansion"
On the https://kubernetes-csi.github.io/docs/drivers.html page, GCE PD CSI Driver should list "Expansion" under "Other Features"

[2020-04-30 21:14] saad-ali commented on #305
Fixed in #306

[2020-04-30 21:14] #305 closed

[2020-04-30 21:17] #310 closed

[2020-05-01 05:30] qaisarhayat12 opened #314 "https://htwpk.blogspot.com/2020/04/depression-depression-effects.html?m=1"
https://htwpk.blogspot.com/2020/04/depression-depression-effects.html?m=1

[2020-05-01 05:32] qaisarhayat12 opened #315 "https://htwpk.blogspot.com/2020/04/the-worlds-most-dangerous-secret.html?m=1"
https://htwpk.blogspot.com/2020/04/the-worlds-most-dangerous-secret.html?m=1

[2020-05-01 05:33] qaisarhayat12 opened #316 "https://htwpk.blogspot.com/2020/04/some-interesting-facts-about-how-our.html?m=1"
https://htwpk.blogspot.com/2020/04/some-interesting-facts-about-how-our.html?m=1

[2020-05-04 03:42] #242 closed

[2020-05-05 22:49] saad-ali opened #318 "Create a "Window Support" Section under "Features""
[CSI Proxy Alpha](https://github.com/kubernetes-csi/csi-proxy) is complete. There are changes in Kubernetes 1.18 that enable its use.

We should add a new page under https://kubernetes-csi.github.io/docs/features.html for "Windows Support" to document CSI Windows Support (e.g. what do Kubernetes distributors need to do? what do CSI driver vendors need to do, etc.)

/assign @jingxu97
CC @ddebroy @k

[2020-05-15 22:49] saad-ali opened #324 "livenessprobe version info broken"
The version table for https://kubernetes-csi.github.io/docs/livenessprobe.html currently looks like this:

Latest stable release | Branch | Min CSI Version | Max CSI Version | Container Image | Min K8s Version | Max K8s Version | --|--|--|--|--|-- livenessprobe v2.0.0 | release-2.0 | v1.0.0 | quay.io/k8scsi/livenessprobe:v2.0.0 | v1.13 | - livenessprobe v1.1.0 | release-1.1 | v1.0.0 | quay.io/k8sc

[2020-05-18 12:28] pohly commented on #324
I was hoping that the mdlinter check that @humblec has proposed in https://github.com/kubernetes-csi/csi-release-tools/pull/83 would have caught this, but when I just tried it didn't.

It might still be worthwhile to consider integrating such a check.

[2020-05-18 12:48] Madhu-1 commented on #324
Yes the mdlinter won't check for the table format, its good to add `mdl` check for kubernetes-csi project. we can easily add YAML linter, shell check, and `mdl`

[2020-05-18 16:09] humblec commented on #324
@pohly indeed, we should add more checks on the repo and I have followup PRs to add those , and I am on it.

[2020-05-21 17:44] #324 closed

[2020-06-19 00:31] saad-ali opened #339 "Add metrics documentation"
I need to add documentation to https://kubernetes-csi.github.io/docs/sidecar-containers.html

Background:

A new CSI Metrics Library was [added](https://github.com/kubernetes-csi/csi-lib-utils/pull/35) to `csi-lib-utils` in and is part of [v0.7.0 release](https://github.com/kubernetes-csi/csi-lib-utils/releases/tag/v0.7.0). This library can be used to automatically generate Prometheus metrics for

[2020-06-19 06:22] pohly commented on #339
It would be good have a short example how those metrics can be used. Not sure whether that belongs into that documentation (which is probably more reference-oriented) or into a blog post.

[2020-06-19 06:55] pohly commented on #339
For a full example, integration with Prometheus and a Grafana dashboard would be useful. While investigating this, I found: https://github.com/helm/charts/tree/master/stable/prometheus#scraping-pod-metrics-via-annotations

*But* that only works for a single metrics endpoint per pod. When running external-provisioner, external-attacher, external-snapshotter and external-resizer all in the same stat

[2020-06-19 07:02] pohly commented on #339
See https://github.com/prometheus/prometheus/issues/3756

[2020-06-19 11:25] pohly commented on #339
CSI calls issued by kubelet are not exported yet?

[2020-06-19 14:01] pohly commented on #339
Would it make sense for CSI drivers to export the same function count metric?

The code in https://github.com/saad-ali/csi-lib-utils/blob/e9a22428988a90ba8d833b5e235fcd22d16cd5fa/metrics/metrics.go currently doesn't support that:
- only has an interceptor for the gRPC client, but not the server
- hard-codes "csi_sidecar" as subsystem

The subsystem string then appears in metrics names like `csi_si

[2020-06-19 18:52] pohly commented on #339
After having read through the [config documentation](https://prometheus.io/docs/prometheus/2.18/configuration/configuration/#kubernetes_sd_config) I believe I understand enough of it to replace or extend the [example configuration](https://github.com/prometheus/prometheus/blob/70f3d1e9f95ad6611be2e76fad44f07b0a2579ca/documentation/examples/prometheus-kubernetes.yml#L239-L273) such that it scrapes

[2020-06-22 10:02] pohly commented on #339
That turned out to be wrong. There is some limited support for extending the default configuration.

I found a solution with an additional, generic scrape config and filed https://github.com/helm/charts/issues/22899 to figure out whether that is something that should be supported by the Helm chart out-of-the-box.

[2020-08-04 00:12] msau42 commented on #318
/assign @ddebroy
/remove-lifecycle stale

[2020-08-26 15:20] #246 closed

[2020-09-14 09:40] #269 closed

[2020-09-21 09:47] pohly commented on #339
/remove-lifecycle stale

[2020-10-06 17:10] thomastaylor312 opened #371 "Incorrect link in docs"
The documentation for the [node driver registrar](https://github.com/kubernetes-csi/docs/blob/master/book/src/node-driver-registrar.md) links to the [Device Plugin registration](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#device-plugin-registration) instructions. While we were reimplementing the registration API, it turns out this is incorrect. Insofar

[2020-11-02 05:44] ddebroy commented on #318
/remove-lifecycle stale

[2020-12-20 16:25] pohly commented on #339
/remove-lifecycle stale
/lifecycle frozen

[2021-01-04 18:09] thomastaylor312 commented on #371
/remove-lifecycle stale

[2021-02-01 17:54] msau42 commented on #318
/remove-lifecycle stale

@jingxu97 @ddebroy what's the status on this?

[2021-02-01 18:23] jingxu97 commented on #318
the PR is https://github.com/kubernetes-csi/docs/pull/362

I will double check to address all the comments.

[2021-03-02 19:49] #123 closed

[2021-03-17 18:58] chrishenzie opened #419 "Define support policy for major versions"
Our support policy currently covers minor releases for one year, however it is not clear what is the support policy for older major versions.

Something we could do (for example) is:

Or potentially:

This will have implications on how many cherry-picks we need to support once a feature makes it into master. Please feel free to note any other implications this support policy would have.

@msau42 @

[2021-03-22 16:43] msau42 commented on #419
Some of my initial thoughts on this. Major versions are disruptive to consumers, so I do think we need to define some policy that balances the amount of upkeep we need to do maintain multiple major releases and the toil that gets imposed on consumers.

I'm thinking we can extend the "overlap" policy we have for minor releases to major releases as well:
[code]

What this means is when we release a

[2021-03-22 19:27] pohly commented on #419
What would be in that minor version release? This sentence sounds like we promise to do such a release regardless whether we have any relevant content for it or not.

[2021-03-23 02:55] msau42 commented on #419
My thoughts are there is some set of changes that caused us to bump the major version. The remaining changes, bug fixes and new features that don't depend on those breaking changes are candidates that can be included in the previous major release. If there are no such changes (ie, all changes were reasons to bump the major version), then we don't need to release anything on the previous major.

[2021-03-23 04:26] xing-yang commented on #419
Are you suggesting we always release a new minor version at the time we release a new major version, or if the major version is released less than 3 months after the previous minor version release?  I don't think this should become a "regular" process.  This should be an exception.  We can define conditions that allow such an exception.

I think this is too broad.  Bug fixes are fine, but we shoul

[2021-03-23 08:43] jsafrane commented on #419
I think we should not backport features to older minor releases. We're adding them to the current minor release (unless they break the compatibility). Older minor branches should be only for bugfixes.

I agree with @msau42, we can extend the existing statement, I propose:
* The minor release branch (`2.y`) will be supported for at least 3 months after the next minor version is released (`2.y+1`).

[2021-03-31 18:01] msau42 commented on #419
Discussed in CSI standup today:
- To minimize the number of branches we need to support, we will not have a general policy for releasing new minor versions on older majors. It will be exception-based instead.
    - In this particular case, the exception is to meet the PRR requirements that were enforced later
 - It's hard to limit major releases: often times bug fixes requires rbac changes
    - C

[2021-04-05 19:00] thomastaylor312 commented on #371
/remove-lifecycle stale

[2021-06-01 20:26] msau42 commented on #318
/remove-lifecycle rotten
@jingxu97 are we able to make progress on the documentation for this feature?

[2021-06-01 20:36] jingxu97 commented on #318
Yes, I am working on this part. Will send an update soon..

[2021-06-18 07:53] lambdaS-zh opened #435 "Abnormal display of external-provisioner releases table"
The [external-provisioner](https://kubernetes-csi.github.io/docs/external-provisioner.html) can't show the releases table properly.
It seems to be caused by an empty line at line11 in `book/src/external-provisioner.md`.

ref: [Merge pull request #420 from Kartik494/DocsImprovement](https://github.com/kubernetes-csi/docs/commit/cb841d6a3c435043f9dac54ffa07a372b4c06e41)

[2021-06-18 08:15] Madhu-1 commented on #435
/assign @Madhu-1

[2021-06-23 18:14] #435 closed

[2021-06-23 20:25] msau42 opened #439 "Updates are not being published"
Probably related to the shutdown of travis-ci.org. We probably need to use github actions or prow to publish updates to the docs:
https://blog.travis-ci.com/2021-05-07-orgshutdown

[2021-06-29 18:19] chrishenzie commented on #419
/remove-lifecycle stale

[2021-07-01 08:22] lambdaS-zh opened #446 "May I use ready=false with livenessprobe in k8s?"
According to the [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#probe), the plugin can set ready=false to indicate the plugin is in a healthy but unavailable state.

With [main.go/checkProbe](https://github.com/kubernetes-csi/livenessprobe/blob/master/cmd/livenessprobe/main.go#L56), it seems the case ready=false is considered as the same with the error case `Interna

[2021-08-19 13:00] xing-yang commented on #189
This is complete: https://kubernetes-csi.github.io/docs/secrets-and-credentials-volume-snapshot-class.html

[2021-08-19 13:00] #189 closed

[2021-08-30 21:10] msau42 commented on #318
https://github.com/kubernetes-csi/docs/pull/362 is merged
/close

[2021-08-30 21:10] #318 closed

[2021-08-30 21:11] msau42 commented on #439
We've migrated the docs publishing to github actions.
/close

[2021-08-30 21:11] #439 closed

[2021-09-02 20:55] #371 closed

[2021-11-12 07:39] wangl0320 opened #472 "Add KaixiangTech MegaBrick CSI Driver"
[KaiXiangTech MegaBrick](https://github.com/kaixiangtech/csi-driver-flexblock) | `flexblock.csi.kaixiangtech.com` | 21.01.01.1, 21.03.04.1 | A Container Storage Interface (CSI) plugin for KaiXiangTech MegaBrick Storage | Persistent | Read/Write MultiplePods | Yes | Raw Block, Expansion, Cloning

[2021-11-12 07:51] wangl0320 commented on #472
[www.kaixiangtech.com  ](http://www.kaixiangtech.com/)

[2021-11-22 01:39] gyaozhou opened #474 "Typo: VOLUME_ACCESSIBILITY_CONTRAINTS should be VOLUME_ACCESSIBILITY_CONTSRAINTS"
Locate at /docs/blob/master/book/src/topology.md

[2021-11-22 18:51] anooptp commented on #474
@gyaozhou

Did you mean

- Option 1
[code]
or

- Option 2 (As mentioned in heading)

[code]

[2021-11-26 18:44] anooptp commented on #474
/assign @anooptp

[2021-11-28 10:38] #446 closed

[2021-12-30 16:41] chrishenzie commented on #419
/remove-lifecycle stale

[2022-01-10 23:49] xing-yang opened #489 "Update doc regarding secrets used for volume snapshots"

[2022-01-12 21:14] mattcary opened #490 "Volume cloning across storage classes"
I'd like to revisit the volume cloning & storage classes discussion (eg, #181).

GCP PD now supports volume cloning from [a zonal PD into a regional PD](https://cloud.google.com/compute/docs/disks/create-disk-from-source#create-regional-clone). However, implementing this in kubernetes is a problem because zonal PDs are a different storage class from regional PDs.

Instead of forbidding cross-stora

[2022-01-12 21:29] msau42 commented on #490
cc @xing-yang @j-griffith @jsafrane for thoughts. I think it makes sense for the driver to be able to decide if the 2 storageclasses could support cloning. We already put the burden on the driver to verify this for snapshots, so I'm not sure why cloning should be treated differently.

[2022-01-12 22:09] j-griffith commented on #490
We discussed this type of case when we were implementing cloning.  I agree it's something that should be enabled, but at the time there were a couple of reasons we didn't move forward with it:
* somewhat in determinant behavior for a user; not clear that the two SCs are related and can clone to each other
* SC includes in some cases info like disk type and fs.  This created a problem even in the c

[2022-01-12 22:20] mattcary commented on #490
The problem here is that zonal and regional PDs are different types, it's not just different AZs.

[2022-01-12 22:29] j-griffith commented on #490
Understood, just reflecting on reasons that came up in the past.  The user experience being the main thing.  I think it's a useful feature would just be great if there was a way to make it clear to the user why it fails when they try to clone between incompatible storage classes.

Maybe require a label on the SCs to indicate they're part of a "group" or something?  Basically just some way to indic

[2022-01-13 15:01] jsafrane commented on #490
I think we have the same issue with snapshots. A snapshot taken from PVC A  with SC A may or may not be restore-able using SC B. We don't provide any labels or guidelines what SC can be used to restore a snapshot. Did we see users complaining about that? Shall we do the same (= nothing) in cloning too?

[2022-01-13 15:27] j-griffith commented on #490
Correct, I think that was the point @msau42 was making (status quo with snapshots).  My opinion is it would probably be "ok" but it seems like we could do better.  I'd be happy to help if that makes any difference.

[2022-01-24 18:21] xing-yang commented on #419
/remove-lifecycle stale

[2022-01-24 18:35] chrishenzie commented on #419
Discussed during Kubernetes CSI standup (1/24/22):
- The current expectation around minor version updates are that a deployment can be updated with the same command line flags and RBAC and it will work
- We probably shouldn't change that definition

Closing since this was the only remaining item for this issue.

/close

[2022-01-24 18:35] #419 closed

[2022-02-01 19:55] #474 closed

[2022-02-02 23:22] #490 closed

[2022-02-04 18:51] tallclair opened #493 "Update ChubaoFS references"
https://kubernetes-csi.github.io/docs/drivers.html?highlight=chubaofs#production-drivers leads to a github account that was taken over by a security researcher and reported to us through our HackerOne bounty program.

EDIT:
ChubaoFS appears to have been renamed to cubeFS. The reference on the drivers page should be updated accordingly.

[2022-02-04 21:45] tallclair opened #494 "Account takeover for MacroSAN"
https://kubernetes-csi.github.io/docs/drivers.html?highlight=macrosan#production-drivers leads to a github account that was taken over by a security researcher and reported to us through our HackerOne bounty program.

[2022-02-04 21:50] tallclair opened #495 "3rd party drivers page is a common source of link hijacking"
We've had a number of issues on the third-party CSI driver index page where broken links were hijacked (often due to a deleted or renamed github account). Examples:

- https://github.com/kubernetes-csi/docs/issues/493
- https://hackerone.com/reports/1212853
- https://github.com/kubernetes-csi/docs/issues/494

These types of issues are a problem because users trust that the drivers linked from kube

[2022-02-05 00:49] msau42 commented on #495
cc @xing-yang @jsafrane

I think it's nice to have one place for users to discover all the drivers in the ecosystem, but I also agree that this is an issue, and that those driver listings also end up getting stale very quickly. I would be in favor of any combination of the options, although I am leaning towards the first option given how stale many of the entries are.

[2022-02-07 08:45] nvidhub commented on #24
@wnxn Excuse me，How do I get the implementation requirements of each csi function from the official？

[2022-02-07 09:09] jsafrane commented on #495
I was not aware we're responsible of target of the links. Are we responsible only for the rendered book (https://kubernetes-csi.github.io/docs/drivers.html) or the source too (https://github.com/kubernetes-csi/docs/blob/master/book/src/drivers.md)?

I'd prefer option 2 if that's enough and someone can do it in gitbook :-). Otherwise option 1.

[2022-02-08 01:10] tallclair commented on #495
What "we're responsible for" is a bit fuzzy, but the ultimate goal is to keep users safe, and as it currently stands users are likely to trust whatever these docs are linking to. I think it's enough to update the gitbook, but probably a good idea to add a comment to the markdown with a similar message.

If option 2 (warning interstitial) is taken, I think the link checker would still be a good ide

[2022-02-13 01:36] saad-ali commented on #495
+1 to the list of drivers being useful to the community. So I vote for option 2 or 3 (or both option 2 and 3).

That's the big question - it doesn't look like https://github.com/rust-lang/mdBook supports "warning for external links" as a native feature. We could hack it together by manually (or ideally programmatically) creating a warning page for every link with the warning and the link to extern

[2022-02-15 23:02] tallclair commented on #495
I'd reach out to Kubernetes SIG-Docs to ask for suggestions, but it looks like https://github.com/kubernetes/website/blob/main/scripts/linkchecker.py might work.

[2022-02-24 00:43] tallclair commented on #493
The link was no longer pointing to the "account takeover" repo, so I assumed it was resolved. I just noticed that it's now essentially a redirect to "cubeFS" (https://github.com/cubefs/cubefs-csi). If that's desired, the link on the drivers index should probably be updated to that.

[2022-02-24 16:05] gnufied commented on #495
Added a external link redirect warning for links when users are clicking on them.  @saad-ali were you think dedicated warning pages? I just added a confirmation dialog box for now. I can probably tweak some more and add a separate warning page or some kind of notice on top, rather than a confirmation dialog box, but not sure if that is necessarily better than current implementation.

[2022-05-27 09:43] jsafrane commented on #495
There is now a popup with a warning, I consider it good enough:

![Screenshot from 2022-05-27 11-41-35](https://user-images.githubusercontent.com/1745006/170674699-c20bbbf8-8567-4148-8256-2795c105cbb4.png)

/close

[2022-06-10 01:25] #489 closed

[2022-07-04 22:56] #494 closed

[2022-07-07 18:01] #68 closed

[2022-07-28 06:38] Kartik494 commented on #493
i would like to work on this.

[2022-07-28 06:43] Kartik494 commented on #493
/assign

[2022-08-05 22:46] msau42 commented on #339
/help

[2022-08-19 21:31] #493 closed

[2022-08-23 16:30] jmccormick2001 opened #526 "broken link on container-storage-interface.md"
I see a broken link on https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#recommended-mechanism-for-deploying-csi-drivers-on-kubernetes

if someone can point me to the correct link, I'd be happy to create a PR to fix this.

[2022-09-11 05:51] amolmote opened #527 "Need to fix the unwanted redirection of user"
## Problem Description
The issue i have observed is that when we visit this [external-attacher.html](https://kubernetes-csi.github.io/docs/external-attacher.html) and click on the `min K8s Version`, `max K8s Version` and `Recommended K8s Version` then we got the same page for
all this attributes of table like below I have shown,

![issue](https://user-images.githubusercontent.com/98871024/18951398

[2022-09-11 08:01] amolmote commented on #527
/kind bug

[2022-09-11 08:24] amolmote commented on #526
@jmccormick2001, I would like to work on this if you don't mind, I will look for solution.

[2022-09-13 11:26] humblec commented on #526
@jmccormick2001 please check this https://kubernetes-csi.github.io/docs/deploying.html and replace accordingly .. please send a PR with the change ..

[2022-09-13 12:40] jmccormick2001 commented on #526
@amolmote sure, if you want to create the PR for this that is fine with me and thank you for offering!

[2022-09-13 12:57] amolmote commented on #526
@jmccormick2001 please go ahead open the PR, you have found this issue.
/assign @jmccormick2001
this is the solution
https://github.com/kubernetes/design-proposals-archive/blob/main/storage/container-storage-interface.md

[2022-09-13 15:31] amolmote commented on #526
well done @jmccormick2001, actually i am not aware about this is your first pr in this organization because of this I wanted that you will open pr. thank you.

[2022-09-15 09:03] amolmote opened #529 "Typo and punctuations need to fix"
In [this](https://github.com/kubernetes-csi/docs/blob/master/book/src/volume-cloning.md) page
## Changes Needed

- Volume cloning was promoted to Beta in version 1.16 and GA in 1.18, and as such is enabled by `defult` for kubernetes versions >= 1.16 *this typo need to fix*
- For more information on cloning in Kubernetes `*missing comma here*` see the concepts doc for [Volume Cloning](https://kuber

[2022-09-20 11:28] Arhell opened #530 "update readme link"
http=>https
/assign

[2022-09-22 00:47] #530 closed

[2022-09-23 10:23] xing-yang opened #532 "Replace the term "master" with "control plane""
The term "master" should be changed to a neutral term "control plane".
References:
https://github.com/kubernetes/community/pull/5243/files
https://kubernetes.io/docs/concepts/overview/components/

[2022-09-24 14:36] Arhell opened #533 "update links"
http=>https
/assign

[2022-10-31 21:26] #533 closed

[2022-11-28 15:47] amolmote commented on #527
Need clarity on this issue from one of the member of csi

[2022-11-28 15:47] amolmote commented on #527
I think its unnecessary redirection of user so we need to improve it